@import "../defaults.scss";

.headerContainer {

  margin: 0;
  width: 100%;
  padding: 10px;
  background-color: #364969 ;
  color: white;
  font-weight: bolder;
  font-size: x-large;

  display: flex;

}