.mainProgramContainer {

  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;

  .programSearcherNavbar {

    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      margin: auto 5px;
      border: 2px solid #5d719a ;
      border-radius: 2px;
      padding: 5px;
      color: white;

      font-size: 10pt;
      font-family: "Montserrat", sans-serif;

      background-color: #5d719a ;
      transition: 0.2s;

      &:hover, &:focus {
        background-color:  #4e5f83;
        border-color:  #4e5f83;
        cursor: pointer;
      }

      &:active {
        background-color: #4e5f83;
        border-color: #4e5f83;
      }
    }
    .programLinks {
      background-color:  #508a4b;
      border:  #508a4b solid 1px;
      border-radius: 5px;
      padding: 5px 5px;

      a {
        color: white;
        text-decoration: none;
      }

      &:hover {
        background-color:  #40703c;
        border: #40703c solid 1px;
        transition: 400ms;
        cursor: pointer;
      }
    }
  }

  .programSearcherContainer {
    //margin: 10px;
    flex-grow: 1;
    padding: 0 10px;

    justify-content: space-between;

    overflow: auto;
    background-color: #eceef3;

    color: black;

    display: flex;
    flex-direction: row;
    outline: solid #c8cec9  1px;
    box-shadow: 3px 3px 3px gray;

    .fields { min-width: 400px }
    .filter { }

    .searchAreaContent {

      .searchAreaTitle {
        font-size: 14pt;
        font-weight: 600;
        margin: 5px 0;
      }

      .searchFields {
        margin: 15px 0;

        label {
          margin: 10px 10px;
          padding: 10px;
          font-weight: 600;
        }

        input {
          margin: 10px 10px;
          padding: 5px;
          width: 50%;
        }
      }

      .searchBtn {
        background-color: #5d719a;
        color: white;
        border: #5d719a solid 1px;
        border-radius: 5px;
        padding: 5px 10px;

        transition: 200ms;

        &:hover {
          background-color: #4e5f83;
          border-color: #4e5f83;
          transition: 200ms;
          cursor: pointer;
        }
      }

      .inputRangeWrapper {
        padding: 20px 10px;
      }
    }

    //button {
    //  background-color: #40619c;
    //  border: #40619c 1px solid;
    //  color: white;
    //  padding: 5px 10px;
    //  margin: auto 30px;
    //  border-radius: 5px;
    //  display: table-cell;
    //  transition: 400ms;
    //  height: max-content;
    //
    //  &:hover {
    //    background-color: #304875;
    //    border-color: #304875;
    //    cursor: pointer;
    //  }
    //}

    .SearchFields {
      max-height: 50px;
      display: table;
      width: 100%;
    }
  }

  .classSearchButton {
    margin: auto 20px;
    padding: 10px 20px;
    font-size: 16pt;
    flex-grow: 0;
    border-radius: 3px;

  }


}